<script>
import { ref, reactive, computed, watch } from "vue";
import { useStore } from 'vuex'

import { sum } from "../js/stats";
import { valuta } from "../js/formatter";
import TransactionsTable from "./TransactionsTable.vue";
import Filters from "./Filters.vue";
import UrlSelect from "./UrlSelect.vue";



function filter(data, filter) {
  const year = filter.option.year
  const account = filter.option.account
  const years = year ? [year] : [];
  return data.filter((row) => row.matches(filter.text))
  .filter((row) => row.matchesYear(years))
  .filter((row) => !account || row.account == account)
}

export default {
  components: { TransactionsTable, Filters, UrlSelect },
  setup() {
    const store = useStore()

    const state = reactive({
      filter: {
        text: "",
        option: {},
      },
      activeData: computed(() => {
        return filter(store.state.data, state.filter) 
      }),
      filterOptions: computed(() => {
        const cat = new Set();
        const years = new Set();
        store.state.data.forEach((item) => {
          cat.add(item.account);
          years.add(item.date.getFullYear());
        });
        return [
          { name: "account", values: cat },
          { name: "year", values: years },
        ];
      }),
      sum: computed(() => {
        return sum(state.activeData);
      }),
    });

    function refresh() {
      store.dispatch('loadData')
    }
    refresh()
    return {
      state,
      store: store,
      valuta,
      refresh,
    };
  },
};
</script>
<template>
  <div v-if="store.state.error" class="error">{{ store.state.error.message }}</div>
  <UrlSelect />
    {{state.filter.option}}
  {{store.state.url}}
  <progress v-if="store.state.loading" />
  <div v-else class="pane">
    <div v-for="(filter, index) in state.filterOptions" :key="index">
      {{ filter.name }}
      <select name="year" v-model="state.filter.option[filter.name]">
        <option></option>
        <option v-for="value in filter.values" :value="value" :key="value">
          {{ value }}
        </option>
      </select>
    </div>
    <Filters @filter="state.filter.text = $event" />
    <h1>
      Transactions <span v-if="!store.state.loading">{{ state.activeData.length }} / {{ store.state.data.length }}</span>
    </h1>
    sum: {{ valuta(state.sum) }}
    <TransactionsTable :data="state.activeData" />
  </div>
</template>
<style scoped>
.pane {
  margin: 20px;
}

.error {
  background-color: #c00;
  padding: 10px;
}
</style>