<script>
import { reactive, watch } from "vue";
import { createDebounce } from "../js/debounce";

export default {
  emits: ['filter'],
  setup(props, context) {
    const state = reactive({
      filterText: "",
    });
    watch(
      () => state.filterText,
      (newValue) => {
        context.emit("filter", newValue);
      }
    );
    return { state, debounce: createDebounce() };
  },
};
</script>
<template>
  <input
    type="text"
    placeholder="filter"
    :value="state.filterText"
    @input="
      debounce((value) => {
        state.filterText = $event.target.value;
      })
    "
  />
</template>
<style scoped>
</style>