<script>
import { ref, computed } from "vue";
import { valuta } from "../js/formatter";

export default {
  props: ["data"],
  setup(props) {
    const showMore = ref(false);
    const activeData = computed(() => {
      return showMore.value ? props.data : props.data.slice(0, 100);
    });
    return {
      showMore,
      activeData,
      valuta,
    };
  },
};
</script>
<template>
  <button @click="showMore = !showMore">show {{showMore ? 'less' : 'more'}}</button>
  <table>
    <tbody>
      <tr
        v-for="(t, index) in activeData"
        :key="index"
        :class="{ green: !t.isNegative }"
      >
        <td>{{ t.dateDisplay }}</td>
        <td>{{ t.account }}</td>
        <td>
          <span class="description">{{ t.description.text1 }}</span>
          <small>{{ t.description.text2 }}</small>
        </td>
        <td class="number">{{t.amount}} $</td>
      </tr>
    </tbody>
  </table>
</template>
<style scoped>
td {
  padding: 2px 5px;
}

td.number {
  text-align: right;
}

td .description {
  margin-right: 10px;
}

tr.green {
  background-color: #363;
}
</style>