<script>
import { ref, reactive, computed, watch } from "vue";
import { useStore } from "vuex";

export default {
  computed: {
    url: {
      get() {
        return this.$store.state.url;
      },
      set(value) {
        this.$store.commit("setUrl", value);
      },
    },
  },
  methods: {
    refresh() {
      this.$store.dispatch("loadData");
    },
  },
};
</script>
<template>
  <input type="text" v-model="url" /><button @click="refresh">refresh</button>
</template>
<style scoped>
</style>